@import url('https://fonts.font.im/css2?&family=Noto+Serif:wght@100..900&display=swap');

body {
    background-color: #f9f2e0;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    font-family: 'Noto Serif', 'Times New Roman', SimSun, Times, serif;
}

a {
    color: #000;
}

.title {
    font-size: 4.5em;
    font-weight: 600;
    text-align: center;
    padding-bottom: 40px;
}

.teahouse-logo {
    width: 15em;
    height: auto;
}

.return {
    font-size: 2.5em;
    padding-bottom: 40px;
}

.material-symbols-outlined {
    color: inherit;
    display: inline-block;
    line-height: inherit;
    vertical-align: middle;
    font-size: inherit;
    transform: translateY(-.1em);
}

/* 响应式设计 */
@media (orientation: portrait) {
    .title {
        font-size: 5.5em;
    }

    .return {
        font-size: 4em;
    }

    .teahouse-logo {
        width: 20em;
    }
}