@import url("https://fonts.font.im/css2?family=Fira+Code&family=Noto+Serif:wght@100..900&family=Noto+Serif+SC:wght@400;700;900&display=swap");

body {
    background-color: #f9f2e0;
    margin: 0;
    color: #000;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
}

.box {
    display: inline-block;
    width: 7rem;
    height: 7rem;
    line-height: 7rem;
    border: 2px solid transparent;
    border-radius: 8px;
    margin: 5px;
    font-size: 3em;
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;
    background-color: #9ca3af25;
    font-weight: 700;
    transition: all 0.2s ease;
}

input[type="text"] {
    margin-top: 20px;
    width: 50%;
    height: 3em;
    font-size: 1.75em;
    text-align: center;
    border: 2px solid #50535a1a;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: transparent;
    color: #000;
}

.info {
    margin-bottom: 20px;
}

.source {
    font-family: "Noto Serif", "Times New Roman", SimSun, Times, serif;
    font-size: clamp(2.5em, calc(3em + 1vw), 4em);
    font-weight: 600;
    text-align: center;
}

.key {
    font-family: "Fira Code", "Source Code Pro", Consolas, Monaco, monospace;
    font-size: clamp(1.5em, calc(1.5em + 0.6vw), 3em);
    text-align: center;
    padding-top: 10px;
}

.zh-cn {
    font-family: "Noto Serif SC", "Source Han Serif SC", "Source Han Serif CN",
        "思源宋体", "Times New Roman", SimSun, Times, serif;
}

.zh-cn.title {
    font-size: 3em;
    font-weight: 900;
}

/* 总结页面 */

.summary {
    display: none;
    text-align: center;
    background-color: white;
    padding: 20px 30px;
    width: max-content;
    border-radius: 8px;
}

.summary button {
    width: 60%;
    box-sizing: border-box;
    font-size: 20px;
    margin: 10px auto 0;
    padding: 8px;
    cursor: pointer;
    border: solid 1px;
    border-radius: 8px;
}

.code-container {
    margin: 0 auto;
    padding: 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.code {
    padding: 0 5px;
    font-size: 16px;
    font-family: "Fira Code", "Source Code Pro", Consolas, Monaco, monospace;
}

.material-symbols-outlined.btn {
    cursor: pointer;
}

/* 表格 */

table {
    margin: 15px auto 0 auto;
    border-collapse: collapse;
    font-size: larger;
}

table td,
table th {
    border: 2px solid #5b9bd5;
    padding: 5px;
}

table tr:nth-child(even) {
    background-color: #5b9bd533;
}

table thead {
    font-size: larger;
}

table tr td:nth-child(1) {
    font-family: "Noto Serif", "Times New Roman", Simsun, Times, serif;
}

table thead,
table tr td:nth-child(2) {
    font-family: "Noto Serif SC", "Source Han Serif SC", "Source Han Serif CN",
        "思源宋体", "Times New Roman", SimSun, Times, serif;
}

/* 响应式设计 */
@media (orientation: landscape) and (max-height: 520px) {
    .source {
        font-size: clamp(1em, calc(1.4em + 1vw), 3em);
    }

    .key {
        font-size: clamp(0.5em, calc(0.5em + 1vw), 1.75em);
    }

    .box {
        width: clamp(2em, calc(2em + 0.4vw), 3em);
        height: clamp(2em, calc(2em + 0.4vw), 3em);
        line-height: clamp(2em, calc(2em + 0.4vw), 3em);
        font-size: clamp(1.5em, calc(1.5em + 0.4vw), 3em);
        margin: 3px;
    }

    input[type="text"] {
        width: 65%;
        height: 2.5em;
        font-size: 1.25em;
    }

    #summaryTable {
        display: none;
    }
}

@media (orientation: landscape) and (min-height: 520px) and (max-height: 850px) {
    .source {
        font-size: clamp(2.5em, calc(2.5em + 0.8vw), 4em);
    }

    .key {
        font-size: clamp(1em, calc(1em + 1vw), 2.5em);
    }

    .box {
        width: clamp(2.25em, calc(2.25em + 0.6vw), 3.5em);
        height: clamp(2.25em, calc(2.25em + 0.6vw), 3.5em);
        line-height: clamp(2.25em, calc(2.25em + 0.6vw), 3.5em);
        font-size: clamp(1.9em, calc(1.9em + 0.5vw), 3em);
    }
}

@media (orientation: portrait) and (max-width: 768px) {
    .source {
        font-size: clamp(1.1em, calc(1.1em + 0.9vw), 2.5em);
    }

    .key {
        font-size: clamp(0.5em, calc(0.5em + 1vw), 1.6em);
    }

    .box {
        width: clamp(2em, calc(2em + 0.4vw), 3em);
        height: clamp(2em, calc(2em + 0.4vw), 3em);
        line-height: clamp(2em, calc(2em + 0.4vw), 3em);
        font-size: clamp(1.5em, calc(1.5em + 0.4vw), 3em);
        margin: 3px;
    }

    input[type="text"] {
        font-size: 1.25em;
    }

    .summary {
        font-size: smaller;
    }

    .summary button {
        font-size: 16px;
    }
}

@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
    .source {
        font-size: clamp(2em, calc(2em + 1vw), 3em);
    }

    .key {
        font-size: clamp(0.8em, calc(0.8em + 1vw), 2.25em);
    }

    .box {
        width: clamp(2em, calc(2em + 0.4vw), 3em);
        height: clamp(2em, calc(2em + 0.4vw), 3em);
        line-height: clamp(2em, calc(2em + 0.4vw), 3em);
        font-size: clamp(1.75em, calc(1.75em + 0.4vw), 3em);
        margin: 3px;
    }

    input[type="text"] {
        font-size: 1.75em;
    }
}

@media (orientation: portrait) and (min-width: 1024px) {
    .source {
        font-size: clamp(2.5em, calc(2.5em + 1vw), 4em);
    }

    .key {
        font-size: clamp(1em, calc(1em + 1vw), 2.5em);
    }

    .box {
        width: clamp(2.5em, calc(2.5em + 0.6vw), 3em);
        height: clamp(2.5em, calc(2.5em + 0.6vw), 3em);
        line-height: clamp(2.5em, calc(2.5em + 0.6vw), 3em);
        font-size: clamp(1.75em, calc(1.75em + 0.6vw), 3em);
        margin: 3px;
    }

    input[type="text"] {
        font-size: 2em;
    }
}

@media (orientation: portrait) {
    input[type="text"] {
        width: 80%;
        height: 2.5em;
    }

    .zh-cn.title {
        font-size: 2em;
    }

    .summary {
        width: auto;
        padding: 20px 20px;
    }
}