@import url("https://fonts.font.im/css2?family=Fira+Code&family=Noto+Serif:wght@100..900&family=Noto+Serif+SC:wght@900&family=Noto+Serif+TC:wght@900&display=swap");

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f2e0;
}

.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    width: 800px;
    border-radius: 8px;
}

a {
    font-size: x-large;
}

.github-icon {
    width: 1.75ex;
    height: inherit;
    display: inline-block;
    line-height: inherit;
    vertical-align: middle;
    transform: translateY(-0.1em);
}

.material-symbols-outlined.b {
    display: inline-block;
    line-height: inherit;
    vertical-align: middle;
    transform: translateY(-0.1em);
    font-size: inherit;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
}

input[type="text"] {
    font-family: "Fira Code", "Source Code Pro", Consolas, Monaco, monospace;
    flex: 1;
    padding: 0.5em 20px;
    font-size: x-large;
    border-radius: 8px;
}

button {
    min-height: 2.5em;
    background-color: #f0f0f0;
    cursor: pointer;
    font-size: x-large;
    border: solid 1px;
    border-radius: 8px;
}

.btn-1 {
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0;
    padding: 0.4em;
}

.btn-2 {
    margin-left: 10px;
    padding: 0.4em 30px;
}

.title {
    font-weight: 900;
    text-align: center;
}

.title[lang="en"] {
    font-size: 2.25em;
    font-family: "Noto Serif", "Times New Roman", SimSun, Times, serif;
}

.title[lang="zh_CN"] {
    font-size: 2.75em;
    font-family: "Noto Serif SC", "Source Han Serif SC", "Source Han Serif CN",
        "思源宋体", "Times New Roman", SimSun, Times, serif;
}

.title[lang="zh_TW"] {
    font-size: 2.75em;
    font-family: "Noto Serif TC", "Source Han Serif TC", "Source Han Serif TW",
        "思源宋體", "Times New Roman", SimSun, Times, serif;
}

/* 响应式设计 */
@media (orientation: portrait) and (max-width: 760px) {
    a {
        font-size: larger;
    }

    .container-1 {
        width: 95%;
        padding: 30px 0;
    }

    .title {
        font-size: 1.5em !important;
    }

    .btn-1,
    .btn-2,
    input[type="text"] {
        font-size: 14px;
        padding: 7px;
    }

    .btn-1,
    .input-container {
        width: 90%;
    }

    .links {
        font-size: smaller;
    }
}
