@import url('https://fonts.font.im/css2?family=Fira+Code&family=Noto+Serif+JP&family=Noto+Serif+KR&family=Noto+Serif:wght@100..900&family=Noto+Serif+HK&family=Noto+Serif+SC:wght@400;600;700;900&family=Noto+Serif+TC:wght@300;400&display=swap');

@font-face {
    font-display: swap;
    font-family: '一点明体';
    font-style: normal;
    font-weight: normal;
    src: local('一点明体'),
        url('fonts/I.Ming-8.00.subset.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* 基础样式 */
body {
    background-color: #f9f2e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

/* GitHub链接样式 */
.github-link {
    position: absolute;
    top: 15px;
    right: 15px;
}

.github-icon {
    width: 40px;
    height: auto;
}

/* 标题样式 */
.title {
    font-family: 'Noto Serif', SimSun, 'Times New Roman', Times, serif;
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
}

.subtitle {
    font-family: 'Fira Code', 'Source Code Pro', Consolas, Monaco, monospace;
    font-size: 1.25em;
    text-align: center;
}

/* 表格样式 */
table {
    border-collapse: collapse;
}

table td,
table th {
    text-align: center;
    padding: .5em 2em;
    border: 2px solid #5b9bd5;
    font-size: 1.5em;
}

table tr:nth-child(even) {
    background-color: #d9e1de;
}

.table-header {
    font-family: 'Noto Serif SC', 'Source Han Serif SC', 'Source Han Serif CN', "思源宋体", SimSun, 'Times New Roman', Times, serif;
    font-size: 2.25em;
    white-space: nowrap;
}

.string {
    font-size: 1.75em;
    min-width: 20vw;
    max-width: 40vw;
}

.lang-name {
    white-space: nowrap;
}

.zh-cn {
    font-family: 'Noto Serif SC', 'Source Han Serif SC', 'Source Han Serif CN', '思源宋体', SimSun, 'Times New Roman', Times, serif;
}

.zh-hk {
    font-family: 'Noto Serif HK', 'Source Han Serif HC', 'Source Han Serif HK', '思源宋體 香港', SimSun, 'Times New Roman', Times, serif;
}

.zh-tw {
    font-family: 'Noto Serif TC', 'Source Han Serif TC', 'Source Han Serif TW', '思源宋體', SimSun, 'Times New Roman', Times, serif;
}

.lzh {
    font-family: '一点明体', "Noto Serif TC Light", 'Source Han Serif TC Light', 'Source Han Serif TW Light', "思源宋體 Light", SimSun, 'Times New Roman', Times, serif;
}

.ja {
    font-family: 'Noto Serif JP', 'Source Han Serif', 'Source Han Serif JP', SimSun, 'Times New Roman', Times, serif;
}

.ko {
    font-family: 'Noto Serif KR', 'Source Han Serif K', 'Source Han Serif KR', SimSun, 'Times New Roman', Times, serif;
}

.vi {
    font-family: 'Noto Serif', SimSun, 'Times New Roman', Times, serif;
}

.minecraft-title {
    font-family: 'Noto Serif', 'Source Han Serif', SimSun, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2.25em;
    font-weight: 900;
    color: #bfbfbf;
}

/* form */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.form .container {
    margin-top: 1em;
    display: grid;
    grid-row-gap: 0.5em;
    grid-template-columns: max-content max-content;
}

.form .container label {
    text-align: right;
}

.form .container input,
.form .container select {
    padding-top: .25em;
    padding-bottom: .25em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form .submit {
    width: 50%;
    padding: 10px 20px;
    background-color: #7aa2ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form .submit:hover {
    background-color: #6493e7;
    transform: translateY(2px);
}

.form-item {
    display: flex;
    align-items: center;
}

/* 响应式设计 */
@media (max-width: 768px) {
    .github-icon {
        width: 30px;
    }

    .title {
        font-size: 1.5em;
    }

    .subtitle {
        font-size: 0.75em;
    }

    .table-header {
        font-size: 1em;
    }

    .string {
        font-size: 1em;
    }

    .lang-name {
        white-space: pre;
        font-size: 0.6em;
    }

    .minecraft-title {
        font-size: 1.25em;
        padding: 0 10px;
    }

    table td,
    table th {
        border: 1px solid #5b9bd5;
    }

    .form {
        width: 100%;
        max-width: 550px;
        margin: 0 auto;
        padding: 15px;
        box-sizing: border-box;
    }

    .form .container {
        grid-template-columns: 1fr;
        padding: 0 15px;
    }

    .form .container label,
    .form .container input,
    .form .container select {
        width: 100%;
    }

    .form .container label {
        text-align: left;
    }

    .form .submit {
        width: 60%;
        font-size: 1em;
    }
}
