@import url('https://fonts.font.im/css2?family=Fira+Code&family=Noto+Serif+JP&family=Noto+Serif+KR&family=Noto+Serif:wght@100..900&family=Noto+Serif+HK&family=Noto+Serif+SC:wght@400;600;700;900&family=Noto+Serif+TC:wght@300;400&display=swap');

@font-face {
    font-display: swap;
    font-family: '一点明体';
    font-style: normal;
    font-weight: normal;
    src: local('一点明体'),
        url('fonts/I.Ming-8.10.subset.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* 基础样式 */
body {
    background-color: #f9f2e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

/* 链接样式 */
.github-link,
.table-link {
    position: absolute;
    top: 15px;
}

.github-link {
    right: 15px;
    transition: filter 0.3s ease;
}

.table-link {
    left: 15px;
    font-size: 48px;
    color: #000;
    transition: color 0.3s ease;
}

.github-icon {
    width: 48px;
    height: auto;
}

.material-symbols-outlined.md-48 {
    position: absolute;
    font-size: 48px;
}

/* 标题样式 */
.title {
    font-family: 'Noto Serif', 'Times New Roman', SimSun, Times, serif;
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
}

.subtitle {
    font-family: 'Fira Code', 'Source Code Pro', Consolas, Monaco, monospace;
    font-size: 1.25em;
    text-align: center;
}

/* 表格样式 */
table {
    border-collapse: collapse;
}

table td,
table th {
    text-align: center;
    padding: .5em 2em;
    border-width: 2px;
    border-style: solid;
    font-size: 1.5em;
}

.table-advancements td,
.table-advancements th {
    border-color: #a02b93;
}

.table-advancements tr:nth-child(even) {
    background-color: #a02b9333;
}

.table-biome td,
.table-biome th {
    border-color: #4ab5c4;
}

.table-biome tr:nth-child(even) {
    background-color: #4ab5c433;
}

.table-block td,
.table-block th {
    border-color: #5b9bd5;
}

.table-block tr:nth-child(even) {
    background-color: #5b9bd533;
}

.table-effect td,
.table-effect th {
    border-color: #ffc000;
}

.table-effect tr:nth-child(even) {
    background-color: #ffc00033;
}

.table-enchantment td,
.table-enchantment th {
    border-color: #44546a;
}

.table-enchantment tr:nth-child(even) {
    background-color: #44546a33;
}

.table-entity td,
.table-entity th {
    border-color: #ed7d31;
}

.table-entity tr:nth-child(even) {
    background-color: #ed7d3133;
}

.table-item td,
.table-item th {
    border-color: #70ad47;
}

.table-item tr:nth-child(even) {
    background-color: #70ad4733;
}

.table-header {
    font-family: 'Noto Serif SC', 'Source Han Serif SC', 'Source Han Serif CN', "思源宋体", 'Times New Roman', SimSun, Times, serif;
    font-size: 2.25em;
    white-space: nowrap;
}

.string {
    font-size: 1.75em;
    min-width: 20vw;
    max-width: 40vw;
}

.lang-name {
    white-space: nowrap;
}

.zh-cn {
    font-family: 'Noto Serif SC', 'Source Han Serif SC', 'Source Han Serif CN', '思源宋体', 'Times New Roman', SimSun, Times, serif;
}

.zh-hk {
    font-family: 'Noto Serif HK', 'Source Han Serif HC', 'Source Han Serif HK', '思源宋體 香港', 'Times New Roman', SimSun, Times, serif;
}

.zh-tw {
    font-family: 'Noto Serif TC', 'Source Han Serif TC', 'Source Han Serif TW', '思源宋體', 'Times New Roman', SimSun, Times, serif;
}

.lzh {
    font-family: '一点明体', "Noto Serif TC Light", 'Source Han Serif TC Light', 'Source Han Serif TW Light', "思源宋體 Light", 'Times New Roman', SimSun, Times, serif;
}

.ja {
    font-family: 'Noto Serif JP', 'Source Han Serif', 'Source Han Serif JP', 'Times New Roman', SimSun, Times, serif;
}

.ko {
    font-family: 'Noto Serif KR', 'Source Han Serif K', 'Source Han Serif KR', 'Times New Roman', Times, serif;
}

.vi {
    font-family: 'Noto Serif', 'Times New Roman', SimSun, Times, serif;
}

.minecraft-title {
    font-family: 'Noto Serif', 'Source Han Serif', 'Times New Roman', SimSun, Times, serif;
    text-align: center;
    font-size: 2.25em;
    font-weight: 900;
    color: #bfbfbf;
}

/* form */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4em;
}

.form .container {
    margin-top: 0.8em;
    display: grid;
    grid-row-gap: 0.4em;
    grid-template-columns: max-content max-content;
}

.form .container label {
    text-align: right;
}

.form .container input,
.form .container select {
    padding: .2em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form .submit {
    width: 50%;
    padding: 10px 18px;
    background-color: #7aa2ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form .submit:hover {
    background-color: #6493e7;
    transform: translateY(2px);
}

.form-item {
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}

/* light */
body {
    background-color: #f9f2e0;
    color: #000;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* dark */
body.dark-mode {
    background-color: #2e2e2e;
    color: #f9f2e0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.invert {
    filter: invert(1);
}

.mode-toggle {
    position: absolute;
    top: 15px;
    right: 75px;
}

#mode-switch {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#mode-icon {
    font-size: 48px;
    color: inherit;
}

/* collapse */
.collapsible {
    position: relative;
    padding: 10px;
}

.collapsible .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.collapsible.collapsed .content {
    max-height: 1000px;
}

legend {
    cursor: default;
}

.toggle-button {
    position: absolute;
    top: -10px;
    right: 10px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

.toggle-button .material-symbols-outlined {
    transition: transform 0.3s ease;
}

.collapsed .toggle-button .material-symbols-outlined {
    transform: rotate(180deg);
}

/* 响应式设计 */
@media (max-width: 768px) {
    .github-icon {
        width: 30px;
    }

    .title {
        font-size: 1.5em;
    }

    .subtitle {
        font-size: 0.75em;
    }

    .table-header {
        font-size: 1em;
    }

    .string {
        font-size: 1em;
    }

    .lang-name {
        white-space: pre;
        font-size: 0.6em;
    }

    .minecraft-title {
        font-size: 1.25em;
        padding: 0 10px;
    }

    table td,
    table th {
        border-width: 1px;
    }

    .form {
        width: 100%;
        max-width: 550px;
        margin: 0 auto;
        padding: 15px;
        box-sizing: border-box;
    }

    .form .container {
        grid-template-columns: 1fr;
        padding: 0 15px;
    }

    .form .container label,
    .form .container input,
    .form .container select {
        width: 100%;
    }

    .form .container label {
        text-align: left;
    }

    .form .submit {
        width: 60%;
        font-size: 1em;
    }
}