@import url('https://fonts.font.im/css2?family=Fira+Code&family=Noto+Serif+JP&family=Noto+Serif+KR&family=Noto+Serif:wght@100..900&family=Noto+Serif+HK&family=Noto+Serif+SC:wght@400;600;700;900&family=Noto+Serif+TC:wght@300;400&display=swap');

@font-face {
    font-display: swap;
    font-family: '一点明体';
    font-style: normal;
    font-weight: normal;
    src: local('一点明体'),
        url('fonts/I.Ming-8.10.subset.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    background-color: #f9f2e0;
}

.header {
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.github-icon {
    width: 2ex;
    height: inherit;
    display: inline-block;
    line-height: inherit;
    vertical-align: middle;
    transform: translateY(-.1em);
}

.material-symbols-outlined.b {
    display: inline-block;
    line-height: inherit;
    vertical-align: middle;
    transform: translateY(-.1em);
}

table {
    border-collapse: collapse;
}

table td,
table th {
    border: 2px solid #5b9bd5;
}

table tr:nth-child(even) {
    background-color: #d9e1de;
}

table thead,
table tr td:nth-child(1) {
    font-family: 'Fira Code', 'Source Code Pro', Consolas, Monaco, monospace;
}

table tr td:nth-child(2) {
    font-family: 'Noto Serif', SimSun, 'Times New Roman', Times, serif;
}

table tr td:nth-child(3) {
    font-family: 'Noto Serif SC', 'Source Han Serif SC', 'Source Han Serif CN', '思源宋体', SimSun, 'Times New Roman', Times, serif;
}

table tr td:nth-child(4) {
    font-family: 'Noto Serif HK', 'Source Han Serif HC', 'Source Han Serif HK', '思源宋體 香港', SimSun, 'Times New Roman', Times, serif;
}

table tr td:nth-child(5) {
    font-family: 'Noto Serif TC', 'Source Han Serif TC', 'Source Han Serif TW', '思源宋體', SimSun, 'Times New Roman', Times, serif;
}

table tr td:nth-child(6) {
    font-family: '一点明体', "Noto Serif TC Light", 'Source Han Serif TC Light', 'Source Han Serif TW Light', "思源宋體 Light", SimSun, 'Times New Roman', Times, serif;
}

table tr td:nth-child(7) {
    font-family: 'Noto Serif JP', 'Source Han Serif', 'Source Han Serif JP', SimSun, 'Times New Roman', Times, serif;
}

table tr td:nth-child(8) {
    font-family: 'Noto Serif KR', 'Source Han Serif K', 'Source Han Serif KR', SimSun, 'Times New Roman', Times, serif;
}

table tr td:nth-child(9) {
    font-family: 'Noto Serif', SimSun, 'Times New Roman', Times, serif;
}