<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft中文标准译名查询</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>

<body>
    <a class="github-link" href="https://github.com/SkyEye-FAST/minecraft_translation_flask">
        <img class="github-icon" src="{{ url_for('static', filename='images/github-icon.svg') }}" alt="GitHub">
    </a>

    <form class="form" action="/" method="post">
        <div class="container">
            {{ form.hidden_tag() }}
            {{ form.source_string.label }}{{ form.source_string(autocomplete="off") }}
            {% if input_value %}
            <label for="options">选择本地化键名：</label>
            <select name="options" id="options">
                {% for option in keys %}
                {% if option == key %}
                <option value="{{ option }}" selected>{{ option }}</option>
                {% else %}
                <option value="{{ option }}">{{ option }}</option>
                {% endif %}
                {% endfor %}
            </select>
            {% endif %}
        </div>
        {{ form.submit(class="submit") }}
    </form>

    {% if translation %}
    <div class="title">
        {{ source }}
    </div>
    <div class="subtitle">
        {{ key }}
    </div>
    <table>
        <tr>
            <th class="table-header">语言名称</th>
            <th class="table-header">译名</th>
        </tr>
        <tr lang="zh-Hans-CN" class="zh-cn">
            <td class="lang-name">简体中文&#10;（中国大陆）</td>
            <td class="string">{{ translation["zh_cn"] }}</td>
        </tr>
        <tr lang="zh-Hant-HK" class="zh-hk">
            <td class="lang-name">繁體中文&#10;（香港特別行政區）</td>
            <td class="string">{{ translation["zh_hk"] }}</td>
        </tr>
        <tr lang="zh-Hant-TW" class="zh-tw">
            <td class="lang-name">繁體中文&#10;（台灣）</td>
            <td class="string">{{ translation["zh_tw"] }}</td>
        </tr>
        <tr lang="lzh" class="lzh">
            <td class="lang-name">文言&#10;（華夏）</td>
            <td class="string">{{ translation["lzh"] }}</td>
        </tr>
    </table>
    {% endif %}

    <div class="minecraft-title">
        Minecraft中文标准译名<br><span style="font-size: smaller;"><time datetime="{{ date_str }}">{{ date_str_zh
                }}</time></span>
    </div>

</body>

</html>