<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _("Minecraft Standard Translation Quiz") }}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet"
        href="https://fonts.font.im/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dark-mode.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quiz_sub.css') }}" type="text/css">
    <style>
        /* 初始隐藏页面内容，避免闪烁 */
        body {
            display: none;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        const questions = {{ questions | tojson | safe }};
        const randomCode = "{{ random_code }}";
    </script>
    <script src="{{ url_for('static', filename='js/dark-mode.js') }}"></script>
    <script src="{{ url_for('static', filename='js/quiz.js') }}"></script>
</head>

<body>
    <div class="mode-toggle">
        <button id="mode-switch">
            <span class="material-symbols-outlined" id="mode-icon">dark_mode</span>
        </button>
    </div>
    <div class="container">
        <div id="info">
            <div class="info">
                <div id="sourceText" class="source"></div>
                <div id="keyText" class="key"></div>
            </div>
            <div id="boxes" class="{{ lang }}"></div>
        </div>
        <input type="text" id="inputBox" class="{{ lang }}" placeholder="{{ placeholder }}" autocomplete="off">
        <div class="summary" id="summary">
            <div id="title" class="{{ lang }}">{{ _("All questions completed!") }}</div>
            <table id="summaryTable">
                <thead>
                    <tr>
                        <th>{{ _("Source") }}</th>
                        <th>{{ _("Translation") }}</th>
                    </tr>
                </thead>
                <tbody id="summaryBody"></tbody>
            </table>
            <div class="code-container">
                <div class="code" id="last-segment"></div>
                <span class="material-symbols-outlined btn" id="copy-button">content_copy</span>
            </div>
            <button id="restartButton">{{ _("One more group") }}</button>
            <button onclick="window.location.href='../quiz'">{{ _("Return to Quiz Portal") }}</button>
        </div>
    </div>
</body>

</html>