<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Minecraft译名认知测验</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link href="https://fonts.font.im/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}" />
</head>

<body>
    <div class="title">
        <span style="font-size: larger;">404</span><br>
        <span style="font-size: smaller;">Question Not Found</span>
    </div>
    <a class="return" href="/quiz">
        <span class="material-symbols-outlined">arrow_back</span>Return to Quiz Portal
    </a>
    <img class="teahouse-logo" src="{{ url_for('static', filename='images/teahouse-logo.svg') }}"
        alt="Teahouse Studios" />
</body>

</html>