<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translation Table</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}" type="text/css">
    <link rel="stylesheet"
        href="https://fonts.font.im/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    <div class="header">
        Minecraft Standard Translation Table. Latest Update: {{ date_str }}<br>Made by SkyEye_FAST.&emsp;
        <a href="../"><span class="material-symbols-outlined b">manage_search</span>Query Page</a>&emsp;
        <a class="github-link" href="https://github.com/SkyEye-FAST/minecraft_translation_flask">
            <img class="github-icon" src="{{ url_for('static', filename='images/github-icon.svg') }}" alt="GitHub">
            GitHub
        </a>&emsp;
        <a href="../table.tsv"><span class="material-symbols-outlined b">download</span>Download TSV</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>keys</th>
                <th>en_us</th>
                <th>zh_cn</th>
                <th>zh_hk</th>
                <th>zh_tw</th>
                <th>lzh</th>
                <th>ja_jp</th>
                <th>ko_kr</th>
                <th>vi_vn</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <script>
        const data = {{ data | tojson | safe }};
        const languageOrder = ["en_us", "zh_cn", "zh_hk", "zh_tw", "lzh", "ja_jp", "ko_kr", "vi_vn"];
        const fragment = document.createDocumentFragment();
        const tbody = document.querySelector("tbody");

        for (const key of Object.keys(data.en_us)) {
            const newRow = document.createElement("tr");
            const keyCell = document.createElement("td");
            keyCell.textContent = key;
            newRow.appendChild(keyCell);

            for (const lang of languageOrder) {
                const cell = document.createElement("td");
                cell.textContent = data[lang][key] || '？';
                newRow.appendChild(cell);
            }
            fragment.appendChild(newRow);
        }

        tbody.appendChild(fragment);
    </script>
</body>

</html>