name: Generate font subset (I.Ming)

on:
  schedule:
    - cron: "00 17 * * 3"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install fonttools brotli

      - name: Get font source
        run: wget https://github.com/ichitenfont/I.Ming/raw/master/8.10/I.Ming-8.10.ttf

      - name: Generate font subset
        run: python extract_font.py

      - name: Remove font source
        run: rm I.Ming-8.10.ttf

      - name: Commit
        uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: "Generate font subset (I.Ming)"
